# Bridge server config.toml example

port = 8001
horizon = "https://horizon-testnet.stellar.org"
network_passphrase = "Test SDF Network ; September 2015"
api_key = ""
mac_key = ""

[[assets]]
# code="PHP"
# issuer="GAMKN6RPGRGMIX34DLYE2VSEVXI255R56X7OLN35N4UKEYRKFBMOSPW2"

[database]
type = "postgres"
url = "postgres://postgres@pg/bridge?sslmode=disable"

[accounts]
authorizing_seed = "SAP"
receiving_account_id = "GCH"
base_seed = "SAP"

# [callbacks]
# receive = "http://web:3000/api/v1/bridge/receive"
# error = "http://web:3000/api/v1/bridge/errors"
